$bannerBg:#000014;
$whiteClr:#FFFFFF;
$navSelect:linear-gradient(191deg, rgba(203, 0, 255, 0.5), rgba(141, 54, 223, 0));
$borderClr:#CB00FF;
$textclr1:#626F7E;
$fontclr: #8D36DF;
$fontclr1:#C7C0B6;
$testClr:#2D3239;
$sectionBg: linear-gradient(to right, #5603B4,#CB00FF);
$iconWrapperClr:#F1F1F1;
$fontclr2:#626F7E;
$digitClr:#5603B4;
$buttonliBg:#F1F1F1;
$pricetextClr:#727271;
$black:#000000;